body {
    font-family: system-ui;
    margin: 0 auto;
    max-width: 520px;
    overflow-x: hidden;
    padding: 0 10px;
    line-height: 1.4;
}

h1 { font-size: 2em !important; line-height: 1.2; }
h2,h3,h4,h5,h6 {
    border-bottom: 1px solid lightgrey;
    margin:  2em 0 0;
    padding-bottom: 0.5em;
}

span.bb {
    color: #030080;
    font-weight: 600;
}

a,a:visited { color: #030080; }
a:hover,a:focus {
    background: lightyellow;
    color: #000;
}

a.button {
    background-color: #030080;
    border-radius: 4px;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 4px 0;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}
a.button:hover, a.button:focus {
    background: #000;
    color: #fff;
}

.tip {
    background: #f9f9f9;
    border-radius: 10px;
    border: 1px solid lightgrey;
    margin: 2em 0 0;
    padding: 10px;
}
.tip h3 { margin-top: 0; }

nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline-block;
    margin-right: 10px;
}

header {
    background: #030080;
    margin-bottom: 2em;
    padding: 40px 0;
    position: relative;
}
header:before,
header:after {
    background: #030080;
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    width: 100vw;
}
header:before { right: 100%; }
header:after { left: 100%; }
header .title { color: white; }
header .subtitle,
header .date { color: #8CF1FF; font-size: 120%; }

figure {
    margin: 1.4em 0;
}
figcaption {
    color: grey;
    font-size: 13px;
    text-align: center;
}

p code, li code {
    background: rgba(34, 102, 238, 0.1);
    border: 1px solid;
    border-radius: 2px;
    padding: 1px 2px;
}

blockquote {
    background: #f9f9f9;
    border-left: 5px solid #030080;
    margin: 2em 0;
    padding: 0.2em 1em;
}

pre {
    background-color: #F5F6F7;
    border-color: #000000;
    border-style: dotted;
    border-width: 1px;
    font-style: italic;
    overflow: auto;
    padding: 8px;
}
pre code {
    white-space: inherit;
}

img, embed {
    height: auto;
    max-width: 100%;
}

#TOC {
    border: 1px solid;
    position: relative;
}
#TOC:before {
    border-bottom: 1px solid;
    content: 'Table of Contents';
    display: block;
    font-weight: bold;
    padding: 5px;
    position: relative;
}
#TOC ul {
    list-style: disc;
    margin-left: 20px;
    padding-left: 10px;
}
#TOC ul li {
    display: list-item;
}

.footnotes {
    color: darkslategrey;
    font-size: 85%;
    margin-top: 3em;
}

.date {
    color: grey;
    margin-top: -10px;
}

footer {
    background: #000;
    color: white;
    margin-top: 4em;
    padding: 2em 0;
    position: relative;
}
footer:before,
footer:after {
    background: #000;
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    width: 100vw;
}
footer:before { right: 100%; }
footer:after { left: 100%; }
footer a, footer a:visited {
    color: white;
}

@media(max-width: 520px) {
    html {
        overflow-x: hidden;
    }
}
